<head>
  <% content_for :title, "Modifier mon profil" %>
  <% content_for :meta_description, "Vous permet de modifier vos informations de profil utilisateur." %>
</head>

<div class="container">
<div class="row">
		<div class="col-12">
			<!-- Page title -->
			<div class="my-5">
      <h2 class="w-75 text-center header_section">Editer mes infos</h2>
			
			</div>
			<!-- Form START -->
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "file-upload") do |f| %> 
        <%= render "devise/shared/error_messages", resource: resource %>
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-8 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-0 mt-0">Détails</h4>
                <hr>
								<!-- First Name -->
								<div class="col-md-6">
                <div class="field">
                  <%= f.label :prénom, class: "form-label" %><br />
                  <%= f.text_field :first_name, class: "form-control", autofocus: true, autocomplete: "first_name" %>
                </div>
								</div>
								<!-- Last name -->
								<div class="col-md-6">
                <div class="field">
                  <%= f.label :nom_de_famille, class: "form-label" %><br />
                  <%= f.text_field :last_name, class: "form-control", autofocus: true, autocomplete: "last_name" %>
                </div>
								</div>
								<!-- Email -->
								<div class="col-md-6">
                  <div class="field">
                    <%= f.label :email, class: "form-label" %><br />
                    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
                </div>
								</div>
                <!-- Description -->
								<div class="col-md-6 mb-5">
                  <div class="field">
                    <%= f.label :description, class: "form-label" %><br />
                    <%= f.text_field :description, class: "form-control", autofocus: true, autocomplete: "description" %>
                </div>
								</div>
                <br>
               
                <h4 class="mb-0">Changer mon mot de passe</h4>
                <hr>
                <p class="mt-0"><i>(Laissez vide si vous ne souhaitez pas le modifier)</i></p>
                                <!-- Old password -->
                                <div class="col-md-6">
                                    <div class="field">
                                    <%= f.label :Nouveau_mot_de_passe, class: "form-label" %> (<em><%= @minimum_password_length %> caractères minimum</em>)<br />
                                    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
                                </div>
                                </div>
                                <!-- New password -->
                                <div class="col-md-6">
                                    <div class="field">
                                        <%= f.label :Confirmez_votre_mot_de_passe, class: "form-label" %><br />
                                        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
                                    </div>
                                </div> 
                                <!-- Confirm password -->
                                <div class="col-md-6">
                                <div class="field">
                                    <%= f.label :Confirmez_votre_mot_de_passe, class: "form-label" %><br />
                                    <%= f.password_field :current_password, class: "form-control", autocomplete: "new-password" %>
                                </div>
                            </div> 
                                  <div class="d-flex mt-3">
                                    <div class="actions">
                                      <%= f.submit "Valider", class: "btn btn-primary" %>
                                    </div>
                                </div>                                     
							</div> <!-- Row END -->
						</div>
					</div>
          <div class="col-xxl-4">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3 py-5">
								<img src="https://i.ibb.co/YccmM26/9290694.png" alt="Lune entourée d'une portée">
							</div>
						</div>
					</div>
          
				</div> <!-- Row END -->
			</div> <!-- Row END -->
		</form> <!-- Form END -->
	</div>
</div>
<% end %>
