        <div class="col-lg mb-5 mt-5 mb-lg-0 d-flex justify-content-center">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="mb-4">  
                 <h1 class="text-center lmds_title">Créer un utilisateur</h1>
                </div>  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  <%= f.label :email, class: "form-label" %>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                  
                  <%= f.label :Mot_de_passe, class: "form-label" %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> caractères minimum)</em>
                  <% end %>

                </div>

                <!-- Password confirmation input -->
                <div class="form-outline mb-4">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                  <%= f.label :Confirmez_le_mot_de_passe, class: "form-label" %>
                </div>

                <!-- Submit button -->
                <div class="actions text-center">
                  <%= f.submit "Créer", class: "btn btn-primary btn_primary_lmds btn-block mb-4" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
