<div class="form_edit">
  <%= form_with(model: @topic) do |form| %>

    <% if @topic.errors.any? %>
      <div class= "missing_info">
        <h2><%= pluralize(@topic.errors.count, "éléments") %> manquants ou incorrects:</h2>

        <ul>
          <% @topic.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label "Titre"%>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label "Description"%>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="mt-2">
      <%= form.label :picture, "Ajouter une image" %>
      <%= form.file_field :picture %>
    </div>

    <div class="text-center mt-4">
        <%= link_to "Accueil", root_path, class: "btn btn-primary"%>
        <%= form.submit class: "btn btn-primary", value: "Valider"%>
    </div>

  <% end %>
  </div>
