<head>
  <% content_for :title, "Mon profil" %>
  <% content_for :meta_description, "Vous permet d'afficher les informations du profil utilisateur." %>
</head>

<br>
<p class="lmds_success text-center"><%= notice %></p>
<div class="container d-flex flex-column justify-content-center align-items-center">

    <!-- Page title -->
		<div class="col-12">
			<div class="my-5 d-flex align-items-center gap-3">
				<h2 class="w-100 text-center header_section">Mon profil</h2>
                
			</div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="user_profile row d-flex align-items-end">
        <div class="col-md-4">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, alt: 'avatar', class: "user_avatar", id: "avatar_image" %>
            <% else %>
              <div class="user_avatar d-flex flex-column justify-content-center" id="avatar_image">
                <p class="text-center avatar_text">Ajoute ta photo!</p>
              </div>
            <% end %>
            <%= form_tag user_avatars_path(current_user), id: "avatar_form", multipart: true do |f| %>
              <div class="d-flex flex-column align-items-center text-center mt-3 mb-5">             
                <%= file_field_tag :avatar, id: "avatar_input", class:"d-none" %>
                <%= submit_tag "Enregistrer", class: "btn btn-primary mt-2" %>
              </div>
            <% end %> 
          </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center align-items-center">
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-md-6"><label class="label">Prénom</label><input type="text" class="form-control" placeholder=<%=current_user.first_name%> ></div>
                    <div class="col-md-6"><label class="label">Nom</label><input type="text" class="form-control" placeholder=<%=current_user.last_name%>> </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12"><label class="label">Description</label><input type="text" class="form-control" placeholder=<%=current_user.description%> ></div>
                </div>
                <div class="row mt-3 d-flex justify-content-center align-items-center">
                  <a href="/users/edit", class="text-center"><button type="button" class="btn btn-primary">Editer</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var avatarImage = document.getElementById("avatar_image");
  var avatarInput = document.getElementById("avatar_input");

  // Trigger file input click when image is clicked
  avatarImage.addEventListener("click", function() {
    avatarInput.click();
  });

  // Show the form when a file is selected
  avatarInput.addEventListener("change", function() {
    document.getElementById("avatar_form").style.display = "block";
  });
});
</script>