<div class="d-flex flex-column align-items-center my-5" id="events">
  <h1 class="w-75 text-center header_section">Mot de passe oublié? </h1>

<div class="form_recover_password mt-4">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email, class: "d-block"%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"%>
  </div>

  <div class="text-center mt-4">
    <%= f.submit class: "btn btn-primary", value: "Envoyer"%>
  </div>
  <% end %>
</div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Se connecter", new_session_path(resource_name), class:"justify-content-center" %><br />
  <% end %>
</div>
