<div id="<%= dom_id event %>">
  <p>
    <strong>Type:</strong>
    <%= event.type %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= event.instrument %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= event.level %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= event.price %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= event.duration %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Available seats:</strong>
    <%= event.available_seats %>
  </p>

</div>
