<div class="form_edit">
<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= form.label "Type"%>
      <!-- Ici, on ajoute les valeurs possibles les types d'event, d'apres l'array CATEGORIES défini dans le model de Event -->
      <!-- Par défaut, la valeur pré-remplie est celle de l'event, grâce à @event.category, pour éviter de passer la première valeur de l'array CATEGORIES par défault, et qui équivaut à Atelier -->
      <%= form.select :category, options_for_select(Event::CATEGORIES, @event.category), {}, class: "form-select" %>
    </div>

    <div class="form-group", id="instrument_form">
      <%= form.label "Instrument"%>
      <%= form.select :instrument, options_for_select(Event::INSTRUMENTS, @event.instrument), {}, class: "form-select" %>
    </div>

    <div class="form-group", id="level_form">
      <%= form.label "Niveau"%>
      <!-- Ici, on ajoute les valeurs possibles pour les niveaux, d'apres l'array LEVEL défini dans le model de Event -->
      <!-- Par défaut, la valeur pré-remplie est celle de l'event, grâce à @event.level, pour éviter de passer la première valeur de l'array LEVEL par défault, et qui équivaut à 1 -->
      <%= form.select :level, options_for_select(Event::LEVEL, @event.level || 1), {}, class: "form-select" %>
    </div>

    <div class="form-group", id="price_form">
      <%= form.label "Prix"%>
      <%= form.number_field :price, min: "0", value: "0", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label "Date"%>
      <%= form.datetime_field :start_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label "Durée"%>
      <%= form.number_field :duration, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label "Description"%>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label "Lieu"%>
      <%= form.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group", id="max_seats_form">
      <% if form.object.new_record? %>
        <%= form.label "Places disponibles"%>  
        <%= form.number_field :max_seats, min: "0", value: "0", class: "form-control" %>
      <% else %>
        <%= form.label "Places disponibles non modifiable"%>  
        <%= form.number_field :max_seats, min: "0", value: "0", class: "form-control", disabled: !form.object.new_record?%>
      <% end %>  
    </div>

    <div class="form-group">
      <%= form.hidden_field :creator_id, :value => current_user.id %>
    </div>

    <div class="text-center mt-4">
      <%= link_to "Retour", @event, class: "btn btn-primary"%>
      <%= form.submit class: "btn btn-primary", value: "Valider"%>
    </div>
  <% end %>
  </div>

  <%= javascript_include_tag 'form-events' %>
