<head>
  <% content_for :title, "Accueil" %>
  <% content_for :meta_description, "Vous permet de visualiser tous les évènements proposés par l'association." %>
</head>

<br>
<p class="lmds_success text-center"><%= notice %></p>
<p class="lmds_alert text-center"><%= alert %></p>


<div class="d-flex flex-column align-items-center" id="news">
  <h1 class="w-75 text-center header_section align-items-center mb-5">Actualités</h1>
</div>

<div id="carousel1">
    <% @topics.each do |topic| %>
    <div class="item">
        <div class="item_image">
          <% if topic.picture.attached? %>
            <%= image_tag topic.picture, alt: ""%>
          <% else %>
            <%= image_tag "https://media.istockphoto.com/id/1477858506/fr/photo/nouvelles-en-ligne-par-t%C3%A9l%C3%A9phone-lire-le-journal-%C3%A0-partir-du-site-web-publication-num%C3%A9rique.jpg?s=2048x2048&w=is&k=20&c=nN5-ODFUP8195-5AOafnQpSWyh0Qqp47LitCBaXtz2s=", alt: ""%>
          <% end %>
        </div>
        <div class="overlay-text d-flex flex-column align-items-center">
          <div class="caroussel_title_topic mb-3">
            <h2><%= topic.title %></h2> 
          </div>
          <div class="caroussel_description_topic">
            <%= topic.description.gsub(/[\r\n]/,'<br />').html_safe %>
          </div>
        </div>
    </div>
    <% end %>
</div>


<div class="d-flex flex-column container align-items-center my-5" id="events">
  <h1 class="w-100 text-center header_section">Nos évènements</h1>
  <div class="dropdown btn_left">
  <button class="nav_link dropdown_button_sort dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Filtre
  </button> 
    <div class="custom_dropdown_menu dropdown-menu" aria-labelledby="dropdownMenuButton"">  
      <ul>
        <li>
          <%= link_to "Par niveau", { sort: 'level' }, class: "nav_link dropdown-item" %>
        </li>
        <li>
          <%= link_to "Par catégorie", { sort: 'category' }, class: "nav_link dropdown-item" %>
        </li>
        <li>
          <%= link_to "Par date", { sort: 'date' }, class: "nav_link dropdown-item" %>
        </li>
      <li>
        <%= link_to "Dans les 7 jours", { show_only: 'week' }, class: "nav_link dropdown-item" %>
      </li>
      <li>
        <%= link_to "Dans les 30 jours", { show_only: 'month' }, class: "nav_link dropdown-item" %>
      </li>
      <li>
        <%= link_to "Tout afficher", { show_only: 'all' }, class: "nav_link dropdown-item" %>
      </li>
    </ul>
  </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 m-3 g-5">
    <% @events.each do |event| %>
      <% if Event::MUSIC_SHOWS.include?(event.category) %>
        <%= render partial: 'index_music_show', locals: {event: event} %>
      <% else %>
        <%= render partial: 'index_music_class', locals: {event: event} %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- AGENDA -->

<div class="d-flex flex-column align-items-center agenda_container" id="agenda">
  <h1 class="w-75 text-center header_section align-items-center mb-5">Agenda</h1>
    <% @current_attendances.each do |attendance| %>
      <div class="container separation_agenda">
        <div class="row row-striped card_agenda">
          <div class="col-2 date_agenda">
            <h1 class="display-4"><span class="badge"><%= attendance.event.start_date.strftime("%d") %></span></h1>
            <h2><%= (l attendance.event.start_date, format: "%b").capitalize %></h2>
          </div>
          <div class="col-10">
            <div class="d-flex titl_btn justify-content-between align-items-center pt-3">
              <!-- Next line returns empty string for instrument if the event is a music show, otherwise returns the instrument for the class -->
              <% is_music_show = Event::MUSIC_SHOWS.include?(attendance.event.category) %>
              <% instrument = is_music_show ? "" : attendance.event.instrument %>
              <h3 class="text-uppercase"><strong><%= attendance.event.category %> <%= instrument %></strong></h3>
              <%= link_to "Voir plus", event_path(attendance.event), class: "btn btn-secondary mb-2" %>
            </div>
            <ul class="list-inline">
              <li class="list-inline-item"><i class="bi bi-calendar" aria-hidden="true"></i> <%=  (l attendance.event.start_date, format: "%A").capitalize %></li>
              <li class="list-inline-item"><i class="bi bi-clock" aria-hidden="true"></i> <%= l attendance.event.start_date, format: "%Hh%M" %></li>
              <li class="list-inline-item"><i class="bi bi-pin-map" aria-hidden="true"></i> <%= attendance.event.location %></li>
              <% if !is_music_show%>
                <li class="list-inline-item"><i class="bi bi-person" aria-hidden="true"></i> <%= attendance.event.creator.first_name %></li>
              <% end %>
            </ul>
            <p> <%=attendance.event.description%></p>
          </div>
        </div>
      </div>
    <% end %>
</div>