<br>
<p class="lmds_success text-center"><%= notice %></p>
<p class="lmds_alert text-center"><%= alert %></p>


<div class="d-flex flex-column align-items-center" id="news">
  <h1 class="w-75 text-center header_section align-items-center mb-5">Actualités</h1>
</div>

<div id="carousel1">  
    <div class="item d-flex-columns justify-content-center align-items-center">
      <div class="item_image">
        <img src='https://cdn.pixabay.com/photo/2024/03/09/07/14/wild-duck-8622063_960_720.jpg' alt="">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src='https://cdn.pixabay.com/photo/2024/03/09/07/14/wild-duck-8622063_960_720.jpg' alt="">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src='https://cdn.pixabay.com/photo/2024/03/09/07/14/wild-duck-8622063_960_720.jpg' alt="">
      </div>
    </div>


    <div class="item">
      <div class="item_image">
        <img src='https://cdn.pixabay.com/photo/2024/03/09/07/14/wild-duck-8622063_960_720.jpg' alt="">
      </div>
    </div>



    <div class="item">
      <div class="item_image">
        <img src='https://cdn.pixabay.com/photo/2024/03/09/07/14/wild-duck-8622063_960_720.jpg' alt="">
      </div>
    </div>



    <div class="item">
      <div class="item_image">
        <img src='https://cdn.pixabay.com/photo/2024/03/09/07/14/wild-duck-8622063_960_720.jpg' alt="">
      </div>
    </div>

</div>


<div class="d-flex flex-column container align-items-center my-5" id="events">
  <h1 class="w-100 text-center header_section">Nos évènements</h1>
  <div class="dropdown btn_left">
  <button class="nav_link dropdown_button_sort dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Filtre
  </button> 
    <div class="custom_dropdown_menu dropdown-menu" aria-labelledby="dropdownMenuButton"">  
      <ul>
        <li>
          <%= link_to "Par niveau", { sort: 'level' }, class: "nav_link dropdown-item" %>
        </li>
        <li>
          <%= link_to "Par catégorie", { sort: 'category' }, class: "nav_link dropdown-item" %>
        </li>
        <li>
          <%= link_to "Par date", { sort: 'date' }, class: "nav_link dropdown-item" %>
        </li>
      <li>
        <%= link_to "Dans les 7 jours", { show_only: 'week' }, class: "nav_link dropdown-item" %>
      </li>
      <li>
        <%= link_to "Dans les 30 jours", { show_only: 'month' }, class: "nav_link dropdown-item" %>
      </li>
      <li>
        <%= link_to "Tout afficher", { show_only: 'all' }, class: "nav_link dropdown-item" %>
      </li>
    </ul>
  </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 m-3 g-5">
    <% @events.each do |event| %>
      <%= render event %>
    <% end %>
  </div>
</div>

<div class="d-flex flex-column align-items-center agenda_container" id="agenda">
    <h1 class="w-75 text-center header_section align-items-center mb-5">Agenda</h1>
            <% @current_attendances.each do |attendance| %>
              <div class="container separation_agenda">
              <div class="row row-striped">
                <div class="col-2 text-right">
                  <h1 class="display-4"><span class="badge"><%= attendance.event.start_date.strftime("%d") %></span></h1>
                  <h2><%= attendance.event.start_date.strftime("%b") %></h2>
                </div>
                <div class="col-10">
                <div class="d-flex justify-content-between align-items-center pt-3">
                  <h3 class="text-uppercase"><strong><%= attendance.event.category %>  (<%= attendance.event.instrument %>)</strong></h3>
                  <%= link_to "Voir plus", event_path(attendance.event), class: "btn btn-secondary mb-2" %>
                  </div>
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="bi bi-calendar" aria-hidden="true"></i> <%= attendance.event.start_date.strftime("%A") %></li>
                      <li class="list-inline-item"><i class="bi bi-clock" aria-hidden="true"></i> <%= attendance.event.start_date.strftime("%I:%M %p") %></li>
                      <li class="list-inline-item"><i class="bi bi-pin-map" aria-hidden="true"></i> <%= attendance.event.location %></li>
                    </ul>
                  <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
           <% end %>
</div>