<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %>
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
  <%= button_to "Je participe", attendances_path, params: {event: @event}, class: "btn btn-success btn_size_card" %>
</div>

